<%-  include partials/header %> 
        
        <% if(user) { %> <!-- info only for logged in users -->
                <p>Welcome <%=user.username%> to the WaniKani Review Notifier</p>
                <!-- add information --> 
                <form action="/account?_method=PUT" method="POST" class="ui form">
                        <div class="field">
                                <label>Email</label>
                                <input type="text" name="username" placeholder="Email" value="<%=user.username%>">
                        </div>
                        <div class="field"> <!-- make toggle later -->
                                <label>Receive SMS Notifications</label>
                                <% if(user.receiveNotifications) { %>
                                        <input type="checkbox" name="notification" checked>
                                <% } else { %>
                                        <input type="checkbox" name="notification">
                                <% } %>
                        </div>
                        <div class="field">
                                <label>API Key</label> <!-- what to do if u don't know --> 
                                <input type="text" name="apiKey" placeholder="API Key" value="<%=user.apiKey%>">
                        </div>
                        <div class="field">
                                <label>Phone Number</label>
                                <input type="text" name="phoneNumber" placeholder="Phone Number" value="<%=user.phoneNumber%>">
                        </div>
                        <button class="ui button" type="submit">Update Settings</button>
                </form>
        <% } else { %> <!-- info only for not logged in users -->
                    
        <% } %>
        
<%- include partials/footer %>